In [1]:
import pandas as pd

base_credit = pd.read_csv('credit_data.csv')

In [8]:
base_credit.isnull().sum()

clientid    0
income      0
age         0
loan        0
default     0
dtype: int64

In [7]:
base_credit.loc[pd.isnull(base_credit['age'])]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

In [6]:
base_credit['age'].fillna(base_credit['age'].mean(), inplace=True)

In [9]:
base_credit.loc[base_credit['clientid'].isin([29, 31, 32])]

    clientid        income        age         loan  default
28        29  59417.805406  40.807559  2082.625938        0
30        31  48528.852796  40.807559  6155.784670        0
31        32  23526.302555  40.807559  2862.010139        0